@font-face {
  font-family: Jet-mono;
  src: url("../../assets/font/JetBrains Mono Medium Nerd Font Complete Mono_0.ttf");
}

body,
html {
  font-family: Jet-mono;
  --td-font-family: Jet-mono !important;
  // background: url("../../assets/images/background.png") center/100% 100vh
  //   no-repeat;
  background-color: @backgroundColor;
  height: 100vh;
  color: @text-color;
  overflow: hidden;
}
