:root {
  --cus-btn-color: transparent; // actions下按钮边框色
}

.t-button {
  border: 3px solid transparent;
}

.t-button:active,
.custom-button:active {
  border-color: var(--cus-btn-color) !important;
}
